@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}

.heroSectionBg {
  background-image: url("../assets/rooms/hotel-lobby.jpg");
}
.heroNewBg {
  background-image: url("../assets/hero1.png");
}
.carouselBg {
  background: url("../assets/rooms/carousel1.png");
  width: 5076px;
  animation: slide 60s linear infinite;
}
