@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}

.heroImg {
  background-image: url("./assets/rooms/Place1.png");
  width: 1000px;
  height: 1500px;
}

.carouselPlaces {
  background: url("./assets/rooms/carousel1.png");
  animation: slide 60s linear infinite;
  width: 5076px;
}

.homePageHeroBg {
  background-image: url("./assets/rooms/hotel-lobby.jpg");
}
